In [145]:
import pandas as pd
import os
from sklearn.linear_model import LogisticRegressionCV
from sklearn.feature_selection import f_classif
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelEncoder
import pickle
import numpy as np

In [97]:
df = pd.read_csv('../data/combined_dataset.csv')

Encoding team names

In [98]:
team_encoded = pd.get_dummies(df['team'], prefix='team')
team_decoded = pd.get_dummies(team_encoded).idxmax(1)

In [99]:
opp_team_encoded = pd.get_dummies(df['oppteam'], prefix='oppteam')
opp_team_decoded = pd.get_dummies(opp_team_encoded).idxmax(1)

Encoding Location

In [100]:
loc_encoded = pd.get_dummies(df['loc'], prefix='loc')
loc_decoded = pd.get_dummies(loc_encoded).idxmax(1)

In [101]:
df_encoded = pd.concat([df.drop(['team', 'loc', 'oppteam'], axis=1), team_encoded, loc_encoded, opp_team_encoded], axis=1)

In [127]:
df_most_recent = df_encoded.loc[df_encoded['Season'] > 2011].reset_index(drop=True)
df_most_recent = df_most_recent.dropna(axis=1, how='all')
df_most_recent = df_most_recent.drop(['score', 'oppscore'], axis=1)

Partition dataset into train and test

In [128]:
bool_2016 = df_most_recent['Season'] == 2016
x_train, y_train, x_test, y_test = (df_most_recent.loc[~bool_2016].drop(['Season', 'game_won'], axis=1),
                                    df_most_recent.loc[~bool_2016, 'game_won'],
                                    df_most_recent.loc[bool_2016].drop(['Season', 'game_won'], axis=1),
                                    df_most_recent.loc[bool_2016, 'game_won'])

In [129]:
train_univariate = f_classif(x_train, y_train)

C:\Users\burksa\AppData\Local\Continuum\Anaconda3\lib\site-packages\sklearn\feature_selection\univariate_selection.py:113: UserWarning: Features [ 40  58 199 352 398 416 557 710] are constant.
  UserWarning)

In [130]:
pd.DataFrame({'Columns': x_train.columns,
              'pval': train_univariate[1]}).sort_values(by='pval')

          Columns           pval
371         loc_A   0.000000e+00
1             fgm   0.000000e+00
5             ftm   0.000000e+00
6             fta   0.000000e+00
372         loc_H   0.000000e+00
8              dr   0.000000e+00
9             ast   0.000000e+00
12            blk   0.000000e+00
13             pf   0.000000e+00
3            fgm3  4.676559e-311
11            stl  2.615182e-275
10             to  2.302716e-231
2             fga   5.413803e-83
4            fga3   9.296490e-69
481  oppteam_1212   2.758878e-19
123     team_1212   2.758878e-19
122     team_1211   3.967735e-17
480  oppteam_1211   3.967735e-17
719  oppteam_1455   1.049339e-16
361     team_1455   1.049339e-16
156     team_1246   1.770325e-16
514  oppteam_1246   1.770325e-16
39      team_1127   8.467169e-16
397  oppteam_1127   8.467169e-16
512  oppteam_1244   5.938686e-15
154     team_1244   5.938686e-15
450  oppteam_1181   1.567370e-14
92      team_1181   1.567370e-14
167     team_1257   4.911805e-14
525  oppteam_1257   4.911805e-14
..            ...            ...
454  oppteam_1185   8.572633e-01
96      team_1185   8.572633e-01
197     team_1287   8.572633e-01
225     team_1316   8.572633e-01
583  oppteam_1316   8.572633e-01
555  oppteam_1287   8.572633e-01
69      team_1158   8.594812e-01
427  oppteam_1158   8.594812e-01
124     team_1213   8.926734e-01
482  oppteam_1213   8.926734e-01
316     team_1408   9.280542e-01
674  oppteam_1408   9.280542e-01
336     team_1428   9.286289e-01
89      team_1178   9.286289e-01
447  oppteam_1178   9.286289e-01
694  oppteam_1428   9.286289e-01
373         loc_N   1.000000e+00
490  oppteam_1222   1.000000e+00
132     team_1222   1.000000e+00
15    season_data   1.000000e+00
14         Daynum   1.000000e+00
0           Numot   1.000000e+00
40      team_1128            NaN
58      team_1147            NaN
199     team_1289            NaN
352     team_1445            NaN
398  oppteam_1128            NaN
416  oppteam_1147            NaN
557  oppteam_1289            NaN
710  oppteam_1445            NaN

[729 rows x 2 columns]

In [142]:
clf = LogisticRegressionCV(Cs=np.logspace(-8, 1, 10), cv=3, verbose=True, n_jobs=-1)
clf.fit(x_train, y_train)

[Parallel(n_jobs=-1)]: Done   3 out of   3 | elapsed:  1.2min finished

LogisticRegressionCV(Cs=array([  1.00000e-08,   1.00000e-07,   1.00000e-06,   1.00000e-05,
         1.00000e-04,   1.00000e-03,   1.00000e-02,   1.00000e-01,
         1.00000e+00,   1.00000e+01]),
           class_weight=None, cv=3, dual=False, fit_intercept=True,
           intercept_scaling=1.0, max_iter=100, multi_class='ovr',
           n_jobs=-1, penalty='l2', random_state=None, refit=True,
           scoring=None, solver='lbfgs', tol=0.0001, verbose=True)

In [146]:
with open('../model/logcv_model.p', 'wb') as f:
    pickle.dump(clf, f)

In [143]:
clf.score(x_train, y_train)

0.89859442408498402

In [144]:
clf.score(x_test, y_test)

0.88245033112582782